/node_modules
.env
*.swp
*.swm
*.swn
*.swo
.DS_Store
.idea/
composer.lock
composer.phar
vendor/
public/build
public/assets
public/apidoc
/npm-debug.log
/public/SaasApi/
apidoc.json
*package-lock.json
node-modules
config/dev.env.js
config/prod.env.js
dist
npm-debug.log*